name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: xcodebuild -project Carbon\ CapsBeeper.xcodeproj

      - name: Use tar to keep executable permissions
        run: cd build/Default && tar czvf CCB.app.tgz *.app

      - name: Upload .app
        uses: actions/upload-artifact@v4
        with:
          name: CCB.app.tgz
          path: build/Default/CCB.app.tgz
